<html style="background-color: #000;">
<body style="color: #fff">Too lazy to implement :(</body>
<div style="position:absolute; right: 10px; top: 10px">
    <form method="post" action="/style" id="style_form">
        <select class="slds-select" name="style" onchange="style_form.submit()">
            <option>Color Theme</option>
            <option selected>Dark Theme</option>
            <option>Raw</option>
        </select>
    </form>
</div>
</html>